body{
    background-color:darkcyan;
}
table{
    width: 45%;
    height: auto;
}
tr{
    border: 3px solid;
}
td{
    width:25%;
    height:40px;
}
.input{
    width: 100%;
    height: 50%;
}
.cestino{
    width: 100%;
    height: 100%;
}
.Activity{
    background-color: white;
    width: auto;
}
button{
    width: 35%;
    height: 100%;
    border: none;
    background-color: lightblue;
}
.Checkbox{
    background-color: white;
    width: 5%;
    height: 100%;
}
input{
    width: 95%;
}
